password_secret = {{ graylog_password_secret }}
root_password_sha2 = {{ graylog_root_password_sha2 }}
web_endpoint_uri = {{ graylog_web_endpoint_uri }}
elasticsearch_hosts = {{ graylog_elasticsearch_hosts }}
mongodb_uri = {{ graylog_mongodb_uri }}
http_bind_address = {{ graylog_http_bind_address }}
http_publish_uri = {{ graylog_http_publish_uri }}
plugin_dir = /usr/share/graylog-server/plugin
